
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="alert alert-warning">
          <ul class=flashes>
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
  {% endif %}
{% endwith %}





{% extends 'index.html' %}



<div id="logo_1">
    <img src="{{ url_for('static',filename='logo_1.png')}}" alt="">
</div>
<div id="logo_2">
    <img src="{{ url_for('static',filename='logo_2.png')}}" alt="">
</div>